<h3>Hi <%= @employee.first_name %></h3>
<p>Which business would you like to look at your shifts for?</p>
<% for business in @businesses do %>
  <ul>
    <li>
      <%= link_to business.name, shifts_path(shift: {business_id: business.id}) %>
      <%= link_to "Remove", business_path(business.id), method: :delete%>
    </li>
  </ul>
<% end %>
<%= link_to "Add business", businesses_path %>
<br>
<%= link_to "Edit employee profile", edit_employee_path(@employee) %>
