<%= link_to "Create New Business", new_business_path %> or
<p> Search for existing business </p>
<%= form_tag(businesses_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<% for business in @businesses do %>
  <ul>
    <li>
      <%= business.name %>
      <%= link_to "Add", business_path(business.id), method: :put %>
      <%= link_to "Remove", business_path(business.id), method: :delete%>
    </li>
  </ul>
<% end %>
