<h1>Edit Manager</h1>
<h3><%= @business.name %></h3>
<h5>Employees that <%= @employee.full_name %> manages:</h5>
<div id="managed-employees">
  <ul>
    <%= render partial: 'managed_employees' %>
  </ul>
</div>
<h5>Employees that <%= @manager.full_name %> will manage:</h5>
<div id="unmanaged-employees">
  <ul>
    <%= render partial: 'unmanaged_employees' %>
  </ul>
</div>
