<h1>Edit Managed Employees</h1>
<h3><%= @business.name %></h3>
<h5>Employees that <%= @manager.full_name %> manages:</h5>
<div id="managed-employees-section">
  <ul id="managed-employees">
    <%= render partial: 'managed_employees' %>
  </ul>
</div>
<h5>Employees that <%= @manager.full_name %> will manage:</h5>
<div id="unmanaged-employees-section">
  <ul id="unmanaged-employees">
    <%= render partial: 'unmanaged_employees' %>
  </ul>
</div>
<%= link_to "Back to Business", business_path(@business.id) %>
