<h1><%= @business.name %></h1>
<h3><%= @first_name %>'s Shifts</h3>

<div id="calender-container">
  <div id="calendar"></div>
</div>

<ul>
  <% @employee.shifts.each do |shift| %>
  <li>
    <p> Start: <%= shift.start %> </p>
    <p> Stop: <%= shift.stop %> </p>
  </li>
  <% end %>
</ul>
<%= link_to "Create new shift", new_shift_path, class: "new_shift" %>
<br></br>
<%= link_to "Update business", businesses_path %>
<br></br>
<%= link_to "Edit employee profile", edit_employee_path(@employee) %>
<!--<% if @employee.is_manager %>
  Above line to be placed here later
<% end %> -->
