<h1><%= @business.name %></h1>
<h3><%= @first_name %>'s Shifts</h3>
<ul>
  <% @shifts.each do |shift| %>
  <li>
    <p> Start: <%= shift.start %> </p>
    <p> Stop: <%= shift.stop %> </p>
  </li>
  <% end %>
</ul>
<%= link_to "Create new shift", new_shift_path, class: "new_shift" %>
<br>
<%= link_to "Back to profile", employees_path %>
<!--<% if @employee.is_manager %>
  Above line to be placed here later
<% end %> -->
